<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coaches</title>
    <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <ul class="navigationbar">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('coaches') }}">Coaches</a></li>
        <li><a href="{{ url_for('teams') }}">Teams</a></li>
        <li><a href="{{ url_for('players') }}">Players</a></li>
        <li><a href="{{ url_for('referees') }}">Referees</a></li>
        <li><a href="{{ url_for('games') }}">Games</a></li>
    </ul>
</header>
<br>
<h1>Coaches</h1>
<p>This is where coaches can be added to the database</p>
<form id= "addcoach" method="POST" action="/coaches">
    <label for="fninput">First Name: </label><input type="text" placeholder="First Name" id="fninput" name="fninput">
    <label for="lninput">Last Name: </label><input type="text" placeholder="Last Name" id="lninput" name="lninput">
    <label for="phonenum">Phone Number: </label><input type="text" placeholder="Phone #" id="phonenum" name="phonenum">
    <label for="email">Email: </label><input type="email" placeholder="Email" id="email" name="email">
    <label for="team">Team: </label><select placeholder="Team" id="team" name="team">
    {% for team in teams %}
            <option value="{{ team[0] }}">{{ team[1] }}</option>
    {% endfor %}
    <option value="NULL_TEAM">NO TEAM</option>
    </select>
    <input type="submit" value="Submit">
</form>
<br>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Team</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for row in Coaches_Rows %}
    <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <th><input type="button" name="Edit" value="Edit" onclick="window.location = '/update_coaches/{{row[0]}}'"></th>
        <th><input type="button" name="Delete" value="Delete" onclick="window.location = '/delete_coaches/{{row[0]}}'"></th>
    </tr>
    {% endfor %}
</table>
</body>
</html>