<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update {{ obj_name }}</title>
</head>
<body>
<h3>Update {{ obj_name }}:</h3>
<form id="games_update" action="/games_update/{{ obj_main[0] }}" method="post">
    <input type="hidden" name="gameID" value="{{ obj_main[0] }}">
    Home Team: <select name="current_home_team">
    {% for team in hometeams %}
        {% if team[1] == obj_main[1] %}
            <option selected value="{{ team[0] }}">{{ team[1] }}</option>
        {% else %}
            <option value="{{ team[0] }}">{{ team[1] }}</option>
        {% endif %}
    {% endfor %}
</select>
    Away Team: <select name="current_away_team">
    {% for team in awayteams %}
        {% if team[1] == obj_main[2] %}
            <option selected value="{{ team[0] }}">{{ team[1] }}</option>
        {% else %}
            <option value="{{ team[0] }}">{{ team[1] }}</option>
        {% endif %}
    {% endfor %}
</select>
    Date:<input type="date" value="{{ obj_main[3] }}" id="dateinput" name="dateinput">
<br>
    Home Team Score: <input type="number" name="homescore" value="{{ obj_main[4] }}">
    Away Team Score: <input type="number" name="awayscore" value="{{ obj_main[5] }}">
    <br>
    Canceled (0=no, 1=yes): <input type="number" name="canceled" value="{{ obj_main[6] }}">
    Complete (0-no, 1=yes): <input type="number" name="completed" value="{{ obj_main[7] }}">
    <br><br>

    Referee 1:
    <select name="referee1">
        {% if referees[0] %}
            <option selected value="{{ referees[0][0] }}">{{referees[0][1]}} {{referees[0][2]}}</option>
            {% for available_ref in allrefs %}
                <option value="{{ available_ref[0] }}">{{ available_ref[1]}} {{ available_ref[2]}}</option> 
            {% endfor %}
        {% else %}
            <option value="0"></option>
            {% for available_ref in allrefs %}
                <option value="{{ available_ref[0] }}"s>{{ available_ref[1]}} {{ available_ref[2]}}</option> 
            {% endfor %}
        {% endif %}
    </select>
    <br>

    Referee 2:
    <select name="referee2">
        {% if referees[1] %}
            <option selected value="{{ referees[1][0] }}">{{referees[1][1]}} {{referees[1][2]}}</option>
            {% for available_ref in allrefs %}
                <option value="{{ available_ref[0] }}">{{ available_ref[1]}} {{ available_ref[2]}}</option> 
            {% endfor %}
        {% else %}
            <option value="0"></option>
            {% for available_ref in allrefs %}
                <option value="{{ available_ref[0] }}"s>{{ available_ref[1]}} {{ available_ref[2]}}</option> 
            {% endfor %}
        {% endif %}
    </select>
    <br>

    Referee 3:
    <select name="referee3">
        {% if referees[2] %}
            <option selected value="{{ referees[2][0] }}">{{referees[2][1]}} {{referees[2][2]}}</option>
            {% for available_ref in allrefs %}
                <option value="{{ available_ref[0] }}">{{ available_ref[1]}} {{ available_ref[2]}}</option> 
            {% endfor %}
        {% else %}
            <option value="0"></option>
            {% for available_ref in allrefs %}
                <option value="{{ available_ref[0] }}"s>{{ available_ref[1]}} {{ available_ref[2]}}</option> 
            {% endfor %}
        {% endif %}
    </select>
    <br>

    <input type="submit" value="Submit">
    <a href="{{ url_for(Previous_Page) }}">Back</a>
</form>
<br/>
</body>
</html>