<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <ul class="navigationbar">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('coaches') }}">Coaches</a></li>
        <li><a href="{{ url_for('teams') }}">Teams</a></li>
        <li><a href="{{ url_for('players') }}">Players</a></li>
        <li><a href="{{ url_for('referees') }}">Referees</a></li>
        <li><a href="{{ url_for('games') }}">Games</a></li>
    </ul>
</header>
<br>
<h1>Games</h1>
<p>This is where games can be added (teams, referees, etc) to the database</p>
<form method="POST" action="/results">
    <label for="dateinput">Date: </label><input type="date" placeholder="Date" id="dateinput" name="dateinput">
    <label for="homeinput">Home Team: </label><input type="text" placeholder="Home Team" id="homeinput" name="homeinput">
    <label for="awayinput">Away Team: </label><input type="text" placeholder="Away Team" id="awayinput" name="awayinput">
    <label for="refereeinput">Referee: </label><input type="text" placeholder="Referee" id="refereeinput" name="refereeinput">
    <input type="submit" value="add" onclick="submit()">
</form>
<br>
<table>
    <tr>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Date</th>
        <th>Home Team Score</th>
        <th>Away Team Score</th>
        <th>Cancelled?</th>
        <th>Completed?</th>
        <th>Referees</th>
        <th>Edit</th>
        <th>Save</th>
        <th>Delete</th>
    </tr>
    {% for row in rows %}
    <tr>
    	<td>{{ row[0] }}</td>
    	<td>{{ row[1] }}</td>
    	<td>{{ row[2] }}</td>
    	<td>{{ row[3] }}</td>
    	<td>{{ row[4] }}</td>
    	<td>{{ row[5] }}</td>
    	<td>{{ row[6] }}</td>
    	<td>{{ row[7] }}</td>
        <th><button>Edit</button></th>
        <th><button>Save</button></th>
        <th><button>Delete</button></th>
    </tr>
    {% endfor %}
</table>
<button>Games Requiring Additional Team</button>
<button>Games Requiring Referee</button>
</body>
</html>