<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Roster</title>
    <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <ul class="navigationbar">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('coaches') }}">Coaches</a></li>
        <li><a href="{{ url_for('teams') }}">Teams</a></li>
        <li><a href="{{ url_for('players') }}">Players</a></li>
        <li><a href="{{ url_for('referees') }}">Referees</a></li>
        <li><a href="{{ url_for('games') }}">Games</a></li>
    </ul>
</header>
<br>
<h1>{{team[0]}}</h1>
<p>Coach: {% if coaches[0] %}
            {{ coaches[0][1] }} {{ coaches[0][2]}}</p>
          {% else %}
            No coach
          {% endif %}
<br>
<p>Players:</p>
<table>
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    {% if players[0] %}
        {% for player in players %}
            <tr>
                <td>{{ player[1] }}</td>
                <td>{{ player[2] }}</td>
                <td>{{ player[3] }}</td>
                <td>{{ player[4] }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>No players</td>
        </tr>
    {% endif %}
</table>
</body>
</html>