<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <ul class="navigationbar">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('coaches') }}">Coaches</a></li>
        <li><a href="{{ url_for('teams') }}">Teams</a></li>
        <li><a href="{{ url_for('players') }}">Players</a></li>
        <li><a href="{{ url_for('referees') }}">Referees</a></li>
        <li><a href="{{ url_for('games') }}">Games</a></li>
    </ul>
</header>
<br>
<h1>Teams</h1>
<p>This is where teams can be added to the database</p>
<form method="POST" action="/results">
    <label for="teaminput">Team Name: </label><input type="text" placeholder="Team Name" id="teaminput" name="teaminput">
    <input type="submit" value="add" onclick="submit()">
</form>
<br>
<table>
	<tr>
		<th>Name</th>
		<th>Wins</th>
		<th>Losses</th>
		<th>Ties</th>
        <th>Edit</th>
        <th>Save</th>
        <th>Delete</th>
    </tr>
    {% for row in rows %}
    	<tr>
        	<td>{{ row[1] }}</td>
        	<td>{{ row[2] }}</td>
        	<td>{{ row[3] }}</td>
        	<td>{{ row[4] }}</td>
            <th><button>Edit</button></th>
            <th><button>Save</button></th>
            <th><button>Delete</button></th>
    	</tr>
    {% endfor %}
</table>
<button>League Standings</button>
</body>
</html>